body{
    margin: 0;
    font-family: "Mulish",sans-serif;;
}
.wrapper{
    position: relative;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.h-container{
    position: relative;
    width: auto;
    height: 40px;
    background-color: white;
    display: flex;
    padding: 0px,10px,0px,10px;
    margin-right: 80px;
    margin-left: 80px;
    justify-content: center;
}
.h-logo{
    font-size:30px;
    font-weight: 600;
}
.h-left{
    position: absolute;
    right: 0;

}
.search-form{
    font-size: 14px;
    border: none;
    color: black;
    align-items: center;
}
.nav-bar{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
}
.nav-bar_list{
    color: white;
    display: flex;
    margin: 0;
    line-height: 1.5;

}
.nav-bar_list-item{
    font-size: 90%;
    font-weight: 1000;
    letter-spacing: 1px;
    list-style: none;
    color: white;
    display: inline-block;
    padding: 15px;
    align-items: center;
}
.slide{
    width: 100%;
    height: 600px;
    background-color: rgb(197, 195, 195);
}
.lazy{
    display: block;
    margin: 30px;
}
.lazy_catalog-box{
    padding: 20px;
}
.lazy_catalog-name{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;

}
.lazy_catalog-box-item{
    display: flex;
    justify-content:space-evenly ;
}
.lazy_catalog-item1{
    width:28%;
    height: 350px;
    background-color: gainsboro;
}
.lazy_catalog-item2{
    width:22%;
    height: 500px;
    background-color: gainsboro;
    margin: 20px;
}

.more-box{
    display: flex;
    justify-content: center;
    height: 35px;   
    margin: 30px;
}
.button-more{
    border: none;
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    
}