.login-signin-container{
  display: flex;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}
.login-form{
max-width: 400px;
}
.login-navbar{
  display: flex;
  font-size: 1.3rem;
}
.login-navbar-item-box{
  width: 50%;
  border: 1px, solid,  rgb(128,128,128,0.3);
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.login-navbar-item{
  color: #c96;
  /* text-align: center; */

}
.get-input{
  padding-top: 10px;
  padding-bottom: 10px;
}
.text {
  color: gray;
  font-size: 1rem;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
input[type=text], input[type=password]{
  border: 1px, solid,  rgb(128,128,128,0.3);
  border-radius: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.submit-checkmark{
  display: flex;
  align-items: center;
}

.submit:hover{
  border: 1px, #c96,solid;
  background-color: #c96;
  color: white;
  background-image: url();
}
.submit{
  border: 1px, #c96,solid;
  background-color: white;
  color: #c96;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px
  
}
input[type=checkbox]{
  border-radius: none;
}
.forgot{
  text-align: right;
}
.forgot-text{
  margin: 0;
  font-size: 80%;
  color: gray;

}
.form-choice{
  display: grid;
}
.footer-form{
  display: flex;
  flex-direction: column;
}

.form-choice .text {
  text-align:  center;
  margin: 20px;
}
.form-choice-item-box{
  display: flex;
  justify-content: space-between;
}
.form-choice-item{
  max-width: 50%;
  color: gray;
  font-size: 1rem;
  border-radius: 0;
  border: 1px, solid,  rgba(128,128,128,0.3);
  cursor: pointer;
  display: flex;
  padding: 10px;
  background-color: white;
}
.form-choice-item:hover{
  background-color: rgba(128,128,128,0.1);
}
.brand-logo{
  width: 20%;
  align-self: center;
} 
label.get-input{
  color: gray;
  font-size: 1rem;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.name{
  display: flex;
  justify-content: space-between;
}


