
.header-container{
    padding: 0px, 16px;
    display: flex;
}
.custom-header{
    padding: 0px, 16px;
}
.center{
    font-family:fantasy;
    font-size: 35px;
    color: black;
    flex: 2;
}
.search{
    border: none;
    flex: 1;
}
.custom-button{
    border: none ;
}
.nav{
    background-color: black;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color: white;
    list-style: none;
    display: inline-block;
    margin: 0px 8px;

}
nav a{
    float: left;
    display: block;
    color: white;
    background-color: black;
    padding:15px;
    padding: 15px,20px;
    text-decoration: none;
}

.custom-section{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.layout{
    display: flex;
    flex:6;
    flex-direction: row;

    
}
.layout1{
    flex:1;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: space-around;
}
.resize-image{
    width: 140px;
    height: 200px;
}
.layout2{
    flex:4;
}
.information{
    flex-direction: column;
    flex:4
}
.name{
    font-size:160%;
    line-height: 40px;
}
.price_product{
    font-weight: lighter;
    font-size:150%;
}
.addition{
    font-size: smaller;
    line-height: 20px;
    color:gray;
    font-weight: lighter;
}
.option{
    justify-content: space-around;
}
.color{
    display: flex;
    flex-direction: row;
}
.size{
    display: flex;
    flex-direction: row;
}
.form_label{
    font-size: 110%;
    font-weight: lighter;
}
.form_button{
    border: 1px #0000000f;
    background-color: white;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    padding: 10px, 30px;
}
table,th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}
.table_size{
    color: white;
    background-color:hsl(0, 0%, 50%);;
}
.features{
    font-weight: lighter;
}
div{
    font-weight: 100;
    margin:auto;
}
.detailproduct{
    background-color: beige;
    padding-left: 10px;
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size:smaller;
    color: gray;
}
.size-table{
    background-color: beige;
    padding-left: 30px;
    padding-top: 30px; 
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.similarproduct{
    text-align: center;
    width:100%;
    overflow:auto;
    background-color: white;
    display: flex;
    
}
.similarproduct div{
    width:25%; 
    float:left
}
.type{
    font-size: smaller;
    color:gray;
    margin:0;
}
.mini-name{
    font-size: smaller;
    margin:0;
}
.price{
    font-size: 16px;
}
div .price{
    font-size: 10px;
}
#more{
    text-align: center; 
    font-size:70%; 
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    background-color:white;
}
div img .similarproduct{
    padding:200px;
}